services:
  - type: web
    name: healthrisk-ai
    runtime: python
    rootDir: app
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: GEMINI_API_KEY
        sync: false
      - key: PYTHON_VERSION
        value: 3.9.6
